.latest-area{
    padding-top: 25px;
}
.paganition-center ul {
    justify-content: center;
    padding-top: 25px;
}
.page-link{
    padding: 10px 15px;
}
.section-padding{
    padding: 20px 0; 
}
.section-title-wrapper{
    margin-bottom: 27px;
}
.header-top-right > .content .account-dropdown{
    width: 175px;
}
.logo img{
    height: 80px !important;
    width: auto !important;
    padding: 5px;
}
.logo a{
    line-height: 80px;
    color: #204277;
    font-weight: bold;
    font-size: 20px;
}
.mainmenu ul#nav > li.active > a{
    color: #bd382a;
}
.mainmenu ul#nav > li.active > a:after{
    bottom: 43px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #bd382a;
    width: 21px;
}
.comments{
    padding: 30px 15px 20px 0;
}
.comment_box_reply{
    display: none;
}
.page-item.active .page-link{
    background-color: #bd382a;
    border-color: #bd382a;
}
.page-link{
    color: #bd382a;
}
.single-latest-text{
    min-height: 236px;
    padding: 15px 0 15px 15px;
}
.footer-logo img{
    height: 100px;
}
.news-details-content .single-latest-text{
    padding: 20px 20px 0;
}
.single-comment.comment-reply {padding-left: 80px;}

.header-top-right > .content{
    margin-top: 14px;
}
.mainmenu ul#nav > li > a{
    line-height: 60px;
}
.logo{
    padding-top: 1px;
}
@media (max-width: 767px){
    .logo{
        padding: 5px 0 5px;
    }
}
.course-area .section-title-wrapper{
    margin-bottom: 35px;
}
.button-large.button-default{
    margin-top: 35px;
}

.langSwitch{
    font-size: 15px;
    color:#fff !important;
}
.section-padding{
    padding: 0px 0;
}
.header-logo-menu.stick .logo{
    padding: 1px 0;
}
.single-latest-item{
    margin-bottom: 20px;
}
.about-area{
    margin-top: 30px;
}
.button-large.button-default {
    margin-top: 10px;
}
.teachers-area{
    padding: 0 0 20px;
}
.header-top span{
    padding: 5px 0;
}
.vision{
    color: #fff;
}
.single-item-content {
    margin-bottom: 10px;
    padding-top: 10px;
}
.single-item{
    padding: 0 20px;
}
.currency{
    font-size: 16px;
}
.single-course-details{
    margin-bottom: 30px;
}
.accordion .btn-link{
    color: #bd382a;
}
.news-details-content .social-links > a{
    float: right;
}
.single-sidebar-widget{
    margin-bottom: 25px;
}
.single-item-comment-view span{
    margin-right: 7px;
}
.course-page .single-item, .course-area .single-item{
    margin-bottom: 85px;
}
.paganition-center{
    margin-bottom: 30px;
}
.section-title-wrapper>.section-title{
    margin-top: 50px;
}
.accordion{
    width: 100%;
}
.card-body .current_lecture a{
    color: #bd382a;
}
.header-top-right a:active, header-top-right a:hover, header-top-right a:hover{
    color: #fff !important;
}
.white{
    color: #fff !important;
}
.search{
    top:50px;
}
@media (max-width: 767px){
    .header-two .header-top-right {
        float: none;
        text-align: left;
    }
}
.header-top-right > .content > a, .header-top-right > .content > a:hover, .header-top-right > .content > a:active, .header-top-right > .content > a:focus, .header-top-right > .content > a:visited{
    color: #fff !important;
}
.header-logo-menu.stick .mainmenu-area .mainmenu ul#nav > li > a, .logo a{
    line-height: 65px;
}
.header-top:after, .about-area:after, .newsletter-area:after{
    content:unset;
}
.subscribe-form:before{
    content: unset;
}
.about-area:before{
    height: 90px;
}
.about-area h3{
    padding-top: 10px;
    margin-bottom: 50px;
}
.newsletter-area:before {
    height: 90px;
}
.newsletter-content {
    padding-top: 10px;
}
.newsletter-form{
    padding: 5px 0;
}
.single-item{
    min-height: 440px;
}